<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light">
      <h4><%= link_to "Joke page AirBnb", flats_path %></h4>
      <button type="button" class="btn btn-info"><%= link_to "Add a flat", new_flat_path %></button>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
